<a href="https://colab.research.google.com/github/askff/Python/blob/main/Python%206.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = input()
print(x)

3
3

In [2]:
str = input("How old are you:")
print(str,'years old')

How old are you:20
20 years old

In [3]:
x = int(input('number ; '))
print(x)

number ; 3
3

In [4]:
x = float(input('number ; '))
print(x)

number ; 5
5.0

In [5]:
year = input ("This year: ")
print(year)
year = eval(year)
year+=1
print("Next year: ", year)

This year: 5
5
Next year:  6

In [6]:
i = 0
result = 0
while i < 5:
  a =  input("성적 입력 : ")
  result += int(a)
  i += 1

print(f'평균 : {result / 5}')

성적 입력 : 12
성적 입력 : 12
성적 입력 : 14
성적 입력 : 16
성적 입력 : 60
평균 : 22.8

In [7]:
test_list = ['one', 'two', 'three']
for i in test_list:
  print(i)

one
two
three

In [8]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
result = 0
for a in range(1,101):
  result += a

print(result)

5050

In [10]:
index = 0
s = "BlockDMask"
for a in s :
  if a == 'k':
    break

  index+=1

print(index)

4

In [12]:
result = 0
for a in range(1,101):
  result += a

  if result > 100:
    print(a)
    break

    print(result)

14

In [13]:
student = [180, 170, 164, 199, 182, 172, 177]
for a in student:
  if a>170:
    continue
  print(a)

170
164

In [14]:
result = 0
for a in range(1,101):
  if a % 2 == 1:
    result += a

print(result)

2500

In [15]:
sr=['father','mother','brother']
cnt=0
for s in sr:
    print(s)
    for c in s:
        if c == 'r':
            cnt +=1
print(cnt)

father
mother
brother
4

In [16]:
a = []
for i in range(10):
  a.append(0)

print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [17]:
a = []

for i in range(3):
  line = []
  for j in range(2):
    line.append(0)
  a.append(line)

print(a)

[[0, 0], [0, 0], [0, 0]]

In [18]:
print(list(range(0,10,3)))

[0, 3, 6, 9]

In [19]:
print(list(range(10,0,-3)))

[10, 7, 4, 1]

In [20]:
for i in range(10, 0, -3):
  print(i)

10
7
4
1

In [21]:
a = ['Alice','Bob','Charlie']

for name in a:
  print(name)

for i, name in enumerate(a):
  print(i, name)

Alice
Bob
Charlie
0 Alice
1 Bob
2 Charlie